@{
  Layout = "_Layout";
}

@using RecipeBox.Models
@model RecipeBox.Models.Recipe

<h2>Recipe Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This recipe doesn't have any tags</p>
}
else
{
  <h4>Tags that belongs to this recipe:</h4>
  <ul>
  @foreach(RecipeTag join in Model.JoinEntities)
  {
    <li>@join.Tag.Description</li>
    @using (Html.BeginForm("DeleteJoin", "Recipes"))
    {
      @Html.Hidden("joinId", @join.RecipeTagId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Add an Tag", "AddTag", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Edit Recipe", "Edit", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Delete Recipe", "Delete", new { id = Model.RecipeId })</p>
