@{
  Layout = "_Layout";
}
 
 @using RecipeBox.Models;

 <h1>Welcome to  your recipes!!!!!!11</h1>
 <hr>

 <h4>recipes</h4>
 @if (Model["recipes"].Length == 0)
 {
    <p>No Recipes!!! have been added yet!</p>
 }
 <ul>
  @foreach (Recipe recipe in Model["recipes"])
  {
    <li>@Html.ActionLink(@recipe.Name, "Details", "Recipes", new{id = @recipe.RecipeId})</li>
  }
 </ul>

 <h4> Tags </h4>
 @if (Model["tags"].Length == 0)
 {
   <p>No Tags have been added yet!</p>
 }
 <ul>
    @foreach (Tag tag in Model["tags"])
    {
      <li>@Html.ActionLink(@tag.Description, "Details", "Tags", new{id = @tag.TagId})</li>
    }
 </ul>

 <hr>

 <p>@Html.ActionLink("Manage Recipes", "Index", "Recipes")</p> 
<p>@Html.ActionLink("Manage Tags", "Index", "Tags")</p>